@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.intro {
  
}

.icons {
  margin-top: 5rem;
}

.social {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

#fadeout {
  opacity: 1;
  transition: 1s opacity;
}

@media (max-width: 480px, 720px) {
  .container {
    width: 100vw;
     display: flex;
  flex-direction: column;
  align-items: center;
    font-size: 1rem;
  }
  
}

