body {
    margin: 100px auto;
    width: 70%;
    color: #E0E0E0;
    background-color: rgb(47, 97, 122);
}



.navigation {
    padding-left: 1.2rem;
    font-size: 1.2rem;
}

.nav-links {
    padding-left: 1.4rem;
    
}

.navigation {
    display: inline;
}



nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: center;
    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    text-align: center;
}
    
a {
    text-decoration: none;
    color: #eee;
}
a:hover {
    text-decoration: underline;
    color: rgb(182, 178, 178);
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
    
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #E0E0E0;
    
}

.meta-tags {
    text-align: center;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    margin-top: 50px;
    padding-top: 50px;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.about {
    text-align: center;
}

.blurb-text {
    text-align: center;
    color: rgb(255, 255, 255);
}

// **********************************************************************8


@media only screen and (max-width: 768px) {
    body {
      padding-top: 24px;
      padding-right: 24px;
      padding-left: 24px;
    }

    nav ul li, footer ul li {
        display: block;
        text-align: center;
        padding: 10px;
    }
}

/* Hide Hamburger */
#page-nav label, #hamburger {
    display: none;
  }

  /* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
    /* Show Hamburger */
    #page-nav label {
      display: inline-block;
      color: #fff;
      background: #24232373;
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Break down menu items into vertical */
    #page-nav ul li {
      display: block;
      font-size: 2.2em;
    }
    // #page-nav ul li {
    //   border-top: 1px solid #333;
    // }

    #page-nav ul li:hover {
        background-color: #333;
      }

  
    /* Toggle show/hide menu on checkbox click */
    #page-nav ul {
      display: none;
    }
    #page-nav input:checked ~ ul {
      display: block;
    }
  }
  
  /* [DOES NOT MATTER] */
//   html, body {
//     padding: 0;
//     margin: 0;
//     font-family: arial, sans-serif;
//   }